<app-header title="Template" subTitle="Switches"></app-header>

<form #miformulario="ngForm">
  <!-- Radios -->
  <div class="row mb-3">
    <div class="col-sm-3 col-from-label">Género</div>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="M"
          [(ngModel)]="persona.genero"
          required
          name="radioGenero"
          id="radioMasculino"
        />
        <label class="form-check-label" for="radioMasculino"> Masculino </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="F"
          [(ngModel)]="persona.genero"
          required
          name="radioGenero"
          id="radioFemenino"
        />
        <label class="form-check-label" for="radioFemenino"> Femenino </label>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <div class="col-sm-3 col-from-label">Notificaciones</div>
    <div class="col-sm-9">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="persona.notificaciones"
          name="notificaciones"
          role="switch"
          id="switchNotif"
          checked
        />
        <label class="form-check-label" for="switchNotif">
          Quiero recibir notificaciones
        </label>
      </div>
    </div>
  </div>

  <!-- Checkboxes -->
  <div class="row mb-3">
    <div class="col-sm-3 col-from-label"></div>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="checkTermCond"
          [(ngModel)]="terminosYCondiciones"
          required
          name="terminosYCondiciones"
        />
        <label class="form-check-label" for="checkTermCond">
          Tértminos y condiciones de uso
        </label>
      </div>
    </div>
  </div>

  <!-- Boton submit -->
  <div class="row">
    <div class="col">
      <button
        class="btn btn-primary float-end"
        [disabled]="miformulario.invalid"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<h5>Valor del formulario</h5>
<pre>{{ miformulario.value | json }}</pre>

<h5>Persona</h5>
<pre>{{ persona | json }}</pre>

<h5>Valid</h5>
<pre>{{ miformulario.valid }}</pre>

<pre>Condiciones: </pre>
