<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="crear()">
      <!-- Nombre -->
      <div class="row mb-3">
        <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            id="nombre"
            class="form-control"
            placeholder="Nombre de ususario"
            formControlName="nombre"
          />

          <span class="form-text text-danger" *ngIf="validForm('nombre')">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="text"
            id="email"
            class="form-control"
            placeholder="Email de ususario"
            formControlName="email"
          />

          <span class="form-text text-danger" *ngIf="validForm('email')">
            {{ emailTypeError }}
          </span>
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label for="username" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            id="username"
            class="form-control"
            placeholder="Nombre código del usuario"
            formControlName="username"
          />

          <span class="form-text text-danger" *ngIf="validForm('username')">
            Username no puede ser strider
          </span>
        </div>
      </div>

      <!-- Password 1 -->
      <div class="row mb-3">
        <label for="password1" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            id="password1"
            class="form-control"
            placeholder="Password del usuario"
            formControlName="password1"
          />

          <span class="form-text text-danger" *ngIf="validForm('password1')">
            La contraseña deve de ser mayor a 6 caracteres
          </span>
        </div>
      </div>

      <!-- Password 2-->
      <div class="row mb-3">
        <label for="password2" class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            id="password2"
            class="form-control"
            placeholder="Confirmar la contraseña"
            formControlName="password2"
          />

          <span class="form-text text-danger" *ngIf="validForm('password2')">
            Las contraseñas deben de ser iguales
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="miFormulario.pending"
          >
            Crear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h4>Form Valid: {{ miFormulario.valid }}</h4>
<h4>Form Status: {{ miFormulario.status }}</h4>
<h4>Form Pending: {{ miFormulario.pending }}</h4>
<h4>Form Errors: {{ miFormulario.errors | json }}</h4>

<h5>Nombre</h5>
<span>{{ miFormulario.controls["nombre"].errors | json }}</span>

<h5>Email</h5>
<span>{{ miFormulario.controls["email"].errors | json }}</span>

<h5>Username</h5>
<span>{{ miFormulario.controls["username"].errors | json }}</span>

<h5>password</h5>
<span>{{ miFormulario.controls["password1"].errors | json }}</span>

<h5>Confirmar</h5>
<span>{{ miFormulario.controls["password2"].errors | json }}</span>
